<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
</head>
<body>
     <div id="shop">
         <table border="1" style="margin:100px auto">
            <tr>
                <td><input type="button" value="接单" onclick="sendMessage()"></td>
                <td><input type="button" value="取消" onclick="cancelMessage()"></td>
            </tr>
            <tr>
                <td>收到的内容：</td>
                <td><textarea name="" id="receiveText" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td>用户电话</td>
                <td><input type="text" id="dressText"></td>
            </tr>
            <tr>
                <td>收到的用户</td>
                <td><input type="text" id="userText"></td>
            </tr>
         </table>
     </div>
</body>
</html>
