<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
     <div id="shop">
         <table border="1" style="margin:100px auto">
            <tr>
                <td><input type="button" value="接单" onclick="sendMessage()"></td>
                <td><input type="button" value="取消" onclick="cancelMessage()"></td>
            </tr>
            <tr>
                <td>收到的内容：</td>
                <td><textarea name="" id="receiveText" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td>用户电话</td>
                <td><input type="text" id="dressText"></td>
            </tr>
            <tr>
                <td>收到的用户</td>
                <td><input type="text" id="userText"></td>
            </tr>
         </table>
     </div>
     <script>
        var socket = io.connect();
        socket.on('connect',function(){
            console.log('连接成功');
        });
        socket.on('message', function (data) {
            console.log('收到消息:'+JSON.stringify(data));
            switch (data.cmd) {
            case "rec":   //收到数据进行绑定
                id=data.data.id;
                document.getElementById("receiveTxt").value = data.data.message;
                document.getElementById("addressText").value =data.data.tel;
                document.getElementById("userText").value =data.data.name;
                break;
            }
        });
        function sendMessage(){
            socket.send({cmd:"ok",data:{id:id,message:"接单成功！"}});
        }
     </script>
</body>
</html>
